<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axel Sport</title>
               <!--css--->
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Axel Sport</h1>
        <nav>

            <div><a href="../index.html">
                <img class="logo" src="./img/logo.png" alt="logo axel sport">
            </a>
        </div>
           
        <ul>
            <li>
                <a href="../index.html">Home</a>
                <a href="./Hombre.html">Hombre</a>
                <a href="#">Mujer</a>
                <a href="./Kids.html">kids</a> 
                <a href="./testimonios.html">Testimonios</a>   
                <a href="./reclamos.html">Reclamos</a>
            </li>
        </ul>
    </nav>
    </header>
    <main>

        <div class="paginamujer">
            <img class="imgmujer" src="./img/biker de mujer.webp" alt="foto biker mujer">
            <p>Biker Mujer</p>
        </div>
        <div class="paginamujer">
            <img class="imgmujer" src="./img/conjunto de mujer.jpg" alt="foto conjunto mujer">
            <p>Conjunto mujer</p>
        </div>
        <div class="paginamujer">
            <img class="imgmujer" src="./img/remera de mujer.webp" alt="foto remera mujer">
            <p>Remera Mujer</p>
        </div>
        
        

        <label for="talles">Talles</label>
        <select name="" id="">
            <option value="">35</option>
            <option value="">36</option>
            <option value="">37</option>
            <option value="">38</option>
            <option value="">39</option>
            <option value="">40</option>
            <option value="">41</option>
            <option value="">42</option>
            <option value="">43</option>
            <option value="">44</option>
            <option value="">45</option>
        </select>

       </main>

       <footer>
        <a href="https://www.instagram.com/coderhouse/?hl=es" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/Coderhouse/?locale=es_LA" target="_blank" >Facebook</a>
        <a href="https://www.youtube.com/c/CoderHouse" target="_blank" >Youtube</a>
       <a href="Quienes-Somos.html">Quienes Somos</a>
       <a href="Sucursales.html">Nuestras sucursales </a>
        <h3>©2025 Axel Sport - Todos los derechos reservados</h3>
    </footer>