<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axel Sport</title>

    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Axel Sport</h1>
        <nav>

            <div><a href="../index.html">
                <img class="logo" src="./img/logo.png" alt="logo axel sport">
            </a>
         </div>

            <ul>
            <li>
                <a href="../index.html">Home</a>
                <a href="./Hombre.html">Hombre</a>
                <a href="./Mujer.html">Mujer</a>
                <a href="./Kids.html">Kids</a>
                <a href="./testimonios.html">Testimonios</a>    
                <a href="./reclamos.html">Reclamos</a>
            </li>
        </ul>
    </nav>
    </header>
</body>

<main>
<div>
    <img src="img/quienes-somos.png" alt="imgQuienesSomos">
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime ducimus error perferendis aperiam natus beatae, mollitia sapiente, fugit aliquam repellendus velit necessitatibus similique, iusto voluptatem consequuntur nam quia quaerat accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum earum ullam neque asperiores, nisi quibusdam voluptate! Quos sunt saepe nostrum veritatis distinctio blanditiis quas incidunt quia autem a ratione natus temporibus, fugiat aperiam ad beatae deleniti deserunt assumenda fugit, labore maiores. Nam nobis ullam rerum quis corrupti maxime repellendus</p>

</div>
<video src=""></video>
<div>

</div>

</main>

<footer>
    <a href="https://www.instagram.com/coderhouse/?hl=es" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/Coderhouse/?locale=es_LA" target="_blank" >Facebook</a>
    <a href="https://www.youtube.com/c/CoderHouse" target="_blank" >Youtube</a>
   <a href="#">Quienes Somos</a>
   <a href="Sucursales.html">Nuestras sucursales </a>
    <h3>©2025 Axel Sport - Todos los derechos reservados</h3>
</footer>

   </html>