<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axel Sport</title>
               <!--css--->
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Axel Sport</h1>
        <nav>

            <div><a href="../index.html">
                <img class="logo" src="./img/logo.png" alt="logo axel sport">
            </a>
        </div>
            
        <ul>
            <li>
                <a href="../index.html">Home</a>
                <a href="./Hombre.html">Hombre</a>
                <a href="./Mujer.html">Mujer</a>
                <a href="./Kids.html">Kids</a>
                <a href="./testimonios.html">Testimonios</a>    
                <a href="#">Reclamos</a>

            </li>
        </ul>
    </nav>
    </header>
    <main>
<form>
<p>completar su reclamo adjuntando:
    1_ fecha y hora de la compra 
    2_ nr de operacion
    3_ comentar la falla o problema que precente</p>
    <label for="mensaje">Deje Su Mensaje</label>
    <textarea name="" id=""></textarea>
    <input type="submit">
    <input type="reset">

</form>

       
       </main>

       <footer>
        <a href="https://www.instagram.com/coderhouse/?hl=es" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/Coderhouse/?locale=es_LA" target="_blank" >Facebook</a>
        <a href="https://www.youtube.com/c/CoderHouse" target="_blank" >Youtube</a>
       <a href="Quienes-Somos.html">Quienes Somos</a>
       <a href="Sucursales.html">Nuestras sucursales </a>
        <h3>©2025 Axel Sport - Todos los derechos reservados</h3>
       </footer>