<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axel Sport</title>
       <!--css-->
       <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Axel Sport</h1>
        <nav>

            <div><a href="../index.html">
                <img class="logo" src="./img/logo.png" alt="logo axel sport">
            </a>
         </div>

            <ul>
            <li>
                <a href="../index.html">Home</a>
                <a href="./Hombre.html">Hombre</a>
                <a href="./Mujer.html">Kujer</a>
                <a href="./Kids.html">Kids</a>
                <a href="./testimonios.html">Testimonios</a>    
                <a href="./reclamos.html">Reclamos</a>
            </li>
        </ul>
    </nav>
    </header>

    <main>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9885143991005!2d-58.428653524260774!3d-34.57915717296323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aabcb96396d8d%3A0xa7a15b2208223db3!2sadidas%20Outlet%20Store%20Buenos%20Aires%2C%20Arcos!5e0!3m2!1ses-419!2sar!4v1739989840731!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Sucursal Distrito Arcos</h2>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.64561838697!2d-58.4591573234193!3d-34.56252705532533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d992a3e939%3A0xebb20cced812615b!2sadidas%20Store%20Buenos%20Aires%2C%20Av.%20Cabildo!5e0!3m2!1ses-419!2sar!4v1739989962732!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Sucursal av Cabildo</h2>
</div>

    </main>


</body>

<footer>
    <a href="https://www.instagram.com/coderhouse/?hl=es" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/Coderhouse/?locale=es_LA" target="_blank" >Facebook</a>
    <a href="https://www.youtube.com/c/CoderHouse" target="_blank" >Youtube</a>
   <a href="Quienes-Somos.html">Quienes Somos</a>
   <a href="#">Nuestras sucursales </a>
    <h3>©2025 Axel Sport - Todos los derechos reservados</h3>
</footer>

</html>