<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axel Sport</title>

    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Axel Sport</h1>
        <nav>

            <div><a href="../index.html">
                <img class="logo" src="./img/logo.png" alt="logo axel sport">
            </a>
         </div>

            <ul>
            <li>
                <a href="../index.html">Home</a>
                <a href="./Hombre.html">Hombre</a>
                <a href="./Mujer.html">Mujer</a>
                <a href="./Kids.html">Kids</a>
                <a href="./testimonios.html">Testimonios</a>    
                <a href="./reclamos.html">Reclamos</a>
            </li>
        </ul>
    </nav>
    </header>
</body>

<main>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xJzuq2Gwe8g?si=LgX2RB_e9D4PXyuc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque architecto id aliquid vel labore at sunt perferendis est porro officia vero velit sed esse excepturi, inventore earum obcaecati dolore, consequatur nisi animi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, sint molestias cumque placeat deleniti rerum libero nesciunt corrupti quae nisi deserunt a consequatur voluptas perferendis reprehenderit fuga veniam? Ullam est aspernatur officia. Doloremque itaque repellat tempore illum culpa quae, et similique enim at tempora quasi iusto officia dicta consequatur libero.
    </p>
</main>

<footer>
    <a href="https://www.instagram.com/coderhouse/?hl=es" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/Coderhouse/?locale=es_LA" target="_blank" >Facebook</a>
    <a href="https://www.youtube.com/c/CoderHouse" target="_blank" >Youtube</a>
   <a href="Quienes-Somos.html">Quienes Somos</a>
   <a href="Sucursales.html">Nuestras sucursales </a>
    <h3>©2025 Axel Sport - Todos los derechos reservados</h3>
</footer>

   </html>